.catalog {
    &__header {
        font-size: 30px;
        text-transform: uppercase;
        margin-top: 107px;
        text-align: center;
        font-weight: 400;
    }
    &__tabs {
        display: flex;
        margin-top: 45px;
        justify-content: center;
        align-items: center;
    }
    &__tab {
        width: 220px;
        height: 50px;
        border: 2px solid #d0d0d0;
        color: #6b6b6b;
        font-weight: 400;
        font-size: 18px;
        text-transform: uppercase;
        text-align: center;
        line-height: 48px;
        transform: skewX(-25deg);
        margin: 0 5px;
        cursor: pointer;
        transition: 0.5s all;
        &:hover {
            box-shadow: 3px 3px 20px #c70101;
            border: none;
        }
        div {
            transform: skewX(25deg);
        }
        &-active {
            color: #fff;
            background-color: #c70101;
            border: none;
        }
    }
    &__content {
        margin-top: 57px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px 18px;
    }
    &__item {
        position: relative;
        width: 257px;
        min-height: 417px;
        border: 2px solid #E8E8E8;
        padding: 20px 20px 0 20px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        &-img {
            background-image: url('../img/catalog/photo.jpg');
            width: 140px;
            height: 200px;
            margin: 0 auto;
        }
        &-title {
            font-size: 16px;
            font-weight: 700;
        }
        &-subtitle {
            font-size: 14px;
            font-weight: 300;
            line-height: 22.26px;
            width: 250px;
            margin-bottom: 10px;
        }
        &-more, &-back {
            text-transform: uppercase;
            color: #C70101;
            margin-top: 10px;
            text-decoration: underline;
            margin-bottom: 17px;
        }
        &-back {
            margin-top: 75px;
        }
        &-footer {
            margin-top: 17px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
        &-price {
            font-size: 20px;
            font-weight: 700;
            text-decoration: unset;
            line-height: 1;
            text-align: start;
            span {
                font-size: 14px;
                font-weight: 300;
                text-decoration: line-through;
            }
        }
        &-list {
            position: absolute;
            left: 35px;
            transform: translateX(-110%);
            transition: .3s all;
            &-active {
                transform: translateX(0%);
                transition: .3s all;
            }
            &-inactive {
                transform: translateX(-110%);
            }
           li {
               text-align: start;
               position: relative;
               line-height: 21px;
               font-size: 14px;
               font-weight: 300;
               margin-bottom: 3px;
               &::before {
                   content: '';
                   width: 8px;
                   height: 8px;
                   background-color: #C70101;
                   position: absolute;
                   left: -14px;
                   top: 6px;
               }
           }
        }
    }
}

ul, li {
    list-style-type: none;
    list-style: none;
}

.line {
    height: 1px;
    background-color: #E8E8E8;
    width: 100%;
    margin-top: 17px;
}
.button-catalog {
    width: 135px;
    height: 44px;
}