.promo {
    background: url('../img/promo/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 650px;
    padding-top: 21px;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 90px;
    }
    &__header {
        font-size: 42px;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 700;
    }
    &__subheader {
        font-size: 24px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 500;
    }
    &__icons {
        margin-top: 60px;
        display: flex;
        color: #ffffff;
        align-items: center;
        justify-content: space-between;
        &-time {
            background-image: url('../img/promo/time.svg');
            width: 42px;
            height: 46px;
            margin-bottom: 20px;
        }
        &-delivery {
            background-image: url('../img/promo/app.svg');
            width: 44px;
            height: 45px;
            margin-bottom: 20px;
        }
        &-questions {
            background-image: url('../img/promo/messages.svg');
            width: 45px;
            height: 42px;
            margin-bottom: 20px;
        }
        > div {
            max-width: 107px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            font-size: 14px;
            font-weight: 500;
            line-height: 14px;
        }
    }
    &-btn {
        margin-top: 67px;
    }
    &__link {
        margin-top: 10px;
        color: #ffffff;
        > a {
            text-decoration: underline;
        }
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
        background-image: url('../img/promo/running-man.svg');
        width: 251px;
        height: 45px;
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        > a {
            font-size: 18px;
            font-weight: bold;
        }
        &-tel {
            font-size: 18px;
            font-weight: 700;
        }
    }
    &__text {
        font-size: 12px;
        font-weight: 500;
        color: #ffffff;
        text-align: center;
        > span {
            font-size: 18px;
        }
    }
}